/*
// .site
*/
@import '../variables';


.site {
    height: 100%;
}
.site__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.site__header {
    flex-shrink: 0;
}
.site__body {
    flex-grow: 1;
}
.site__footer {
    flex-shrink: 0;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:160px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
    margin-top:16px;
    fill: white;
}
