$theme-color: #a63a70;

$theme-scheme: () !default;
$theme-scheme: map_merge((
    // colors
    main:     $theme-color,
    muted:    #ffd4e9,
    // states
    hover:    rgba(#000, .1),
), $theme-scheme);

// topbar variants
$topbar-classic-scheme-variants: (
    classic-two: (
        main: adjust-color($theme-color, $lightness: -5, $hue: -2),
    ),
) !default;

// logo variants
$logo-scheme-variants: (
    classic-two: (
        primary:   rgba(#fff, .9),
        secondary: rgba(#fff, .6),
    ),
    classic-four: (
        primary:   rgba(#fff, .9),
        secondary: rgba(#fff, .6),
    ),
    mobile-two: (
        primary:   rgba(#fff, .9),
        secondary: rgba(#fff, .6),
    ),
) !default;
