$theme-color: #006847;

$theme-scheme: () !default;
$theme-scheme: map_merge((
    main: $theme-color,
    muted: #c3e5d4,
), $theme-scheme);

// topbar variants
$topbar-classic-scheme-variants: (
    classic-two: (
        main: adjust-color($theme-color, $lightness: -3, $saturation: -3),
    ),
) !default;

// logo variants
$logo-scheme-variants: (
    classic-two: (
        primary:   rgba(#fff, .9),
        secondary: rgba(#fff, .6),
    ),
    classic-four: (
        primary:   rgba(#fff, .9),
        secondary: rgba(#fff, .6),
    ),
    mobile-two: (
        primary:   rgba(#fff, .9),
        secondary: rgba(#fff, .6),
    ),
) !default;
